<!DOCTYPE html>
<html>
<head>
	<title>Turorial #8 Two Way Data Binding</title>
	<link rel="stylesheet" type="text/css" href="all.css">
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>

	<div id="vue-app">
		<h1>Keyboard Events</h1>
		<label>Name:</label>
		<input type="text" v-model="name">
		<p>Input Name: <span>{{ name }}</span></p>
		<label>Age:</label>
		<input type="text" v-model="age">
		<p>Input Age: <span>{{ age }}</span></p>
	</div>


	<script src="all.js"></script>
	
</body>
</html>